spacy
spacy-transformers
spacy-streamlit
spacy-layout
streamlit-pdf-viewer
streamlit-dimensions
streamlit-agraph
pymupdf
jsonlines
watchdog
fastapi
fastapi-cli
python-multipart
matplotlib
scipy
levenshtein
thefuzz
